
body {
  font-family: 'Varela Round', sans-serif;
}

body, .sidenav {
  background-color: #add3ff;
  background-color: #e8aecd;
  background-color: #111;
  background-color: #c3c3c3;
}

#myMandala {
  background-color: white;
  display: inline;
  cursor: url('cursor-pencil.png'), cell;
}

.sidenav {
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0;
}

.leftnav {
  left: 0;
  padding-top: 2rem;
/*
  background-color: #add3ff;
  background-color: #e8aecd;
*/
}

.rightnav {
  right: 0;
  padding-top: 0.5rem;
}

.fb-like {
  padding: 8px 8px 8px 34px;
/*  clear: both;*/
}

.fb-like a {
  text-decoration: none;
}

.leftnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 130%;
    display: block;
    transition: 0.5s
}

.leftnav a:hover, .offcanvas a:focus, .icon-holder a:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left 0.5s;
    padding-left: 10rem;
}

.icon-holder a, .leftnav a {
/*
  color: #818181; // gray
  color: #dd2581; // pink
  color: #2580e8; // lighter blue
  */
  color: #1657a0; // darker blue
}


.icon-holder {
  display: inline-block;
  transform: translateX(-10%);
  margin-top: 2rem;
  margin-bottom: 2rem;
  float: right;
  clear: both;
}

.icon-holder a {
  transition: 0.5s;
  color: #dd2581; // pink
}

.fa {
  margin-left: 1rem;
}

.color-picker {
  padding-left: 2rem;
}

#btn-clear, #btn-download, #set-line-width, #btn-flip-switch, #btn-num-ref {
  margin-top: 1.5rem;
}

.heart {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
  width: 90%;
  text-align: center;
  color: #818181;
  color: white;
  transition: 0.5s
}

.heart:hover {
  color: red;

}

.user-settings {
  display: inline-block;
  width: 60%;

/*

.light {
  color: #111;
}
*/
