* {

}

#desktop, #mobile {
  display: none;
}

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

body, .sidenav, #main, html, #menu {
  background-color: #c3c3c3; // light gray
}

.wrapper {
  box-sizing: border-box;
}

.desktop-canvas, .mobile-canvas {
/*  background-color: white;
  display: inline;*/
  cursor: url('cursor-pencil.png'), cell;
}

#mobile-canvas {
  margin-top: 15px;
  margin-left: 15px;
}

.btn-default, .btn-warning {
  border-color: #666;
}

.btn-warning {
  background-color: #888;
}

.btn {
/*    background-color: #222;
    border: 1 solid;*/
    border-radius: 6px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
}

.btn-mobile {
  background-color: #bbb;
  border-color: #b1b1b1;
  padding: 10px 2px;
  color: #444;
  font-size: 13pt;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 32%;
  border-width: 0.25px;
}

.btn-primary {
  background-color: #5cb85c;
}

.btn-primary:hover {
  background-color: #4a9b4a;
}

.btn-print {
  background-color: #e0a541;
}

.btn-print:hover {
  background-color: #bf8a31;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover {
  background-color: #bc4340;
}

.social {
margin-right: -2px;
margin-top: 1rem;
text-align: center;
}

.sidenav {
  height: 100%;
  width: 13rem;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0;
}

.leftnav {
  left: 0;
  padding-top: 0.5rem;
}

.rightnav {
  right: 0;
  padding-top: 2rem;
}

.fb-like a {
  text-decoration: none;
}

.leftnav a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 125%;
    display: block;
    transition: 0.5s
}

/**
* Color of text buttons
*/
.leftnav a {
   color: #415caa;
 }
.leftnav a:hover, .offcanvas a:focus {
    color: #2b8eff;
}

.icon-holder a:hover {
  color: #666;
}

#main {
    transition: margin-left 0.5s;
    padding-left: 13.5rem;
    padding-top: 0.5rem;
}

.top-links {
  margin-top: 0.5rem;
  text-align: center;
}

.twitter-buttons {
  margin-top: 0.5rem;
}

.twitter-buttons, .fb-like {
  text-align: center;
}

.icon-holder {
  position: absolute;
  bottom: 55px;
  transform: translateX(58%);

}
.icon-holder a {
  transition: 0.5s;
  color: #dd2581; // pink
  margin-left: 0.5rem;
  padding: 0.25rem;
}

.line-width, .rotations-num, input[type=checkbox]{
  background-color: #eee;
}

input {
    text-align: center;
    font-size: 12pt;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
}

.line-width, .selectionPalette, .rotations-num {
  width: 2.75rem;
  height: 1.75rem;
  border: solid 1px #91765d;
}

.line-width:hover, .rotations-num:hover {
  border-color: #F0C49B;
}

#btn-clear {
  color: #a31a1a;
}

#btn-clear:hover {
  color: #f21f1f;
}

#btn-color-desk, #btn-line-width, #btn-num-rot, #btn-flip-switch {
  font-size: 100%;
}

.my-row {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  background-color: #ddd;
  border-left: solid #c3c3c3 0.1rem;
}

.row-item {
  width: 46%;
  float: left;
  display: inline-block;
}

.row-item-1 {
  border-right: solid #c3c3c3 0.5rem;
  border-left: solid #c3c3c3 0.25rem;
}

.grid2x2 {
  margin-left: 6px;
  min-width: 90px;
  min-height: 90px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  width: 47%;
  margin: 3px;
  background-color: #ddd;
  border-radius: 3px;
  box-shadow: 3px 3px 1px #999;

}

.box:hover {
  transform: scale(1.1);
}

.lower-buttons {
  position: absolute;
  bottom: 15px;
}

@media print {
  .sidenav, .leftnav, .top-links, .icon-holder {
    display: none;
  }

  canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
